body{
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;}

.container{
    margin: 25% 5%;
}

.top-section{
    padding: 10%; 
    background-color:  hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 100px;
}
.top-section img{
    padding-left: 4%;
}

.icons img{
    margin-top: 7%;
    margin-left: 5%;
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
    padding: 4%;
    width: 18px;
    height: 18px;
}

.quota-secion{
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px;
    padding-top: 5%;
    margin-top: 4%;
    color: hsl(243, 100%, 93%);
    text-align: center;
    font-size: 12px;
    max-height: 130px;
}

span{
    font-size: 12px;
    font-weight: 600;
}

.bar{
    width: 70%;
    padding: 3px;
    background-color:hsl(229, 57%, 11%);
    border-radius: 10px;
    margin: 0 auto;
}

.progress-bar{
    width: 70%;
    height: 10px;
    background:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.node{
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 2px;
}

.limit{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    font-size: 10px;
}

.gigas-left{
    background-color: hsl(243, 100%, 93%);
    color: #000;
    margin: 0 25%;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
}
h1{
    font-size: 30px;
    font-weight: 600;
    padding: .7rem;
}

.gigas-left span{
    color: hsl(229, 7%, 55%);
    letter-spacing: 1px;
    font-size: 10px;
    position: relative;
    bottom:5px;
}

@media screen and (min-width: 1024px) {
    body{
        background-image: url('../images/bg-desktop.png');
        background-color: hsl(229, 57%, 11%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 70%;
    }

    .top-section{
        margin-right: 2%;
        padding: 3% 8% 3% 2%;
    }

    .icons{
        padding-top: 7%;
    }
    
    .quota-secion{
        width: 40%;
        display: flex;
        flex-direction: column; 
        padding-top: 2%;
        padding-bottom: 1.5%;
    }

    .limit p{
        margin-top: 1%;
    }

    .gigas-left{
        position: absolute;
        width: 12%;
        padding: 0;
        bottom: 37%;
        right: 1%;
        border-bottom-right-radius: 0;
        border-style: solid;

        }

        .used-g{
            padding-right: 35%;
        }
    h1{
        margin: 0;

    }

    .bar{
        width:80%;
    }
}