:root{
    --paleBlue:rgb(221, 219, 255);
    --grayishBlue: rgb(132, 135, 148);
    --darkBlue: rgb(28, 43, 102);
    --veryDarkBlue: rgb(12, 18, 44);
}

body{
    background-image: url("../images/bg-mobile.png");
    background-repeat:no-repeat ;
    background-size: cover;
    font-family: 'Relway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    margin: 0 .8rem;
    width: 350px
}

.top-section{
    background-color: var(--darkBlue);
    height: 10rem;
    border-radius: 10px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 265px;
}

.top-section .logo{
    width: 100px;
}
.icons img{
    background-color: var(--veryDarkBlue);
    padding: 10px;
    border-radius: 5px;
    height: 15px;
    margin-right: .5rem;
}
.quota-secion{
    background-color: var(--darkBlue);
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    max-height: 120px;
    width: 300px;
}
.used-g{
    text-align: center;
    font-size: 12px;
    color: var(--paleBlue);
}
span{
    font-weight: 700;
    color: #fff;
}

.bar{
    width: 80%;
    height: 8px;
    padding: 3px;
    background-color:hsl(229, 57%, 11%);
    border-radius: 10px;
}
.progress-bar{
    width: 76%;
    height: 10px;
    background:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    position: relative;
    top: -1.5px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.node{
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 1%;
}

.limit{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.limit p{
    color: var(--paleBlue);
    font-size: 12px;
}

.gigas-left{
    background-color: #fff;
    color: var(--veryDarkBlue);
    border-radius: 10px;
    position: relative;
    padding: .5rem .8rem;
    
}

.gigas-left h1{
    margin: 0;
}

.gigas-left span{
    font-size: 12px;
    color: var(--grayishBlue);
    position: relative;
    top: -7px;
}

@media (min-width:1200px){
    body{
        background-color: var(--veryDarkBlue);
        background-image: url("../images/bg-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 135%;
        overflow: hidden;
    }
    .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .top-section{
        width: 250px;
    }
    .top-section .logo {
        width: 120px;
    }

    .icons img{
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .quota-secion{
        width: 450px;
        height: 120px;
        justify-content: center;
        position: relative;
    }
    .used-g{
        align-self: start;
        margin-left: 7%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .bar{
        width: 85%;

    }
    .limit{
        width: 85%;
    }
    .limit p{
        font-size: 8px;
        font-weight: 800;
        margin-top: 6px;
    }

    .gigas-left{
        position: absolute;
        top: -30px;
        right:30px;
        border-bottom-right-radius: 0;
    }
    .triangle{
        border-right: 0px solid transparent;
        border-left: 30px solid transparent;
        border-top: 30px solid #fff;
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}