:root{
    --paleBlue:hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
}

body{
    background-image: url("../images/bg-mobile.png");
    background-repeat:no-repeat ;
    background-size: cover;
}

.container{
    margin: 0 .8rem;
}

.top-section{
    background-color: var(--darkBlue);
    height: 10rem;
    border-radius: 10px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;

}

.top-section .logo{
    width: 100px;
}
.icons img{
    background-color: var(--veryDarkBlue);
    padding: 10px;
    border-radius: 5px;
    height: 15px;
    margin-right: .5rem;
}
/* .bar{
    width: 76%;
    height: 8px;
    padding: 3px;
    background-color:hsl(229, 57%, 11%);
    border-radius: 10px;
    margin: 0 auto;
}

.progress-bar{
    width: 70%;
    height: 10px;
    background:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    position: relative;
    top: -2px;
    left: -1px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.node{
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 1%;
    margin-top: 1%;
} */
